# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Vector Store (Manually tracking for deployment)


# Data (Processed/Chunks)
data/processed/
data/raw/*
!data/raw/.gitkeep

# IDEs
.vscode/
.idea/
.vs/
*.swp
*.swo
